<md-progress-linear md-mode="indeterminate" ng-show="load"></md-progress-linear>
<h1>Busqueda The Movie DB</h1>
<div layout="row" layout-align="end start">
    <md-item>
        <md-item-content>


            <md-input-container>
                <label>Buscar</label>
                <input ng-model="buscar" type="text" ng-model-options="{ debounce: 500 }">

            </md-input-container>
            <md-button class="md-raised" ng-click="search()">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button class="md-raised" ng-click="clear()">
                <ng-md-icon icon="clear"></ng-md-icon>
            </md-button>
        </md-item-content>
    </md-item>
</div>
<md-list>
    <md-item ng-repeat="item in movies|limitTo:10" class="repeated-item"
             ng-if="item.poster_path!='' && item.poster_path!=null ">
        <md-item-content>


            <div class="md-tile-left">
                <img src="http://image.tmdb.org/t/p/w500{{item.poster_path}}" alt="{{item.title}}" class="imdb">
            </div>

            <div class="md-tile-content">


                <a href="#/detalle/{{item.id}}/{{item.title}}"><h3> {{item.title}} </h3></a>


                <p>Rating {{item.vote_average}}</p>
                <p>Fecha: {{item.release_date}}</p>

            </div>

            <md-button ng-click="addFavorite(item,$index)" class="md-raised md-fab " aria-label=""
                       style="margin-right:60px">
                <ng-md-icon icon="{{item.icon}}" size="32"></ng-md-icon>
            </md-button>


        </md-item-content>
    </md-item>
</md-list>

